<div class='outer-wrapper'>
    <h2>Games</h2>
    <mat-form-field>
        <input matInput [min]="minDate" [max]="maxDate" 
        [value]="filter.date" [matDatepicker]="picker" 
        placeholder="Game Date" (dateChange)="filterChange()"
        [(ngModel)]="filter.date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Team1" [(ngModel)]="filter.team1" (selectionChange)="filterChange()">
            <mat-option>-- ALL --</mat-option>
            <mat-option *ngFor="let team of teams" [value]="team.name">{{team.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Team2" [(ngModel)]="filter.team2" (selectionChange)="filterChange()">
            <mat-option>-- ALL --</mat-option>
            <mat-option *ngFor="let team of teams" [value]="team.name">{{team.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Season" [(ngModel)]="filter.season" (selectionChange)="filterChange()">
            <mat-option>-- ALL --</mat-option>
            <mat-option *ngFor="let season of seasons" [value]="season">{{season}}-{{season+1}}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field>
        <mat-select placeholder="Season Type" [(ngModel)]="filter.seasonType" (selectionChange)="filterChange()">
            <mat-option>-- ALL --</mat-option>
            <mat-option *ngFor="let seasonType of seasonTypes" [value]="seasonType">{{seasonType}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div id="clearFilterContainer"><button mat-raised-button color="primary" (click)="clearFilters()">CLEAR</button></div>

    <table mat-table [dataSource]="dataSource" matSort  matSortDirection="desc" matSortActive="date" class="mat-elevation-z8">

        <ng-container matColumnDef="home.team">
            <th mat-header-cell *matHeaderCellDef> Home </th>
            <td mat-cell *matCellDef="let g">
                <div class='gameScore'> 
                    <img class="team-logo" src="assets/img/{{g.home.team}}.png"> 
                    <span [ngClass]="{winner: g.home.score > g.away.score}"><span class="hideSmall"> {{g.home.team}} - </span>{{g.home.score}} </span>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="away.team">
            <th mat-header-cell *matHeaderCellDef> Away </th>
            <td mat-cell *matCellDef="let g">
                <div class='gameScore'> 
                    <img class="team-logo" src="assets/img/{{g.away.team}}.png"> 
                    <span [ngClass]="{winner: g.home.score < g.away.score}"><span class="hideSmall">{{g.away.team}} - </span>{{g.away.score}} </span>
                </div>
            </td>
        </ng-container>
        
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="hideSmall"> Date </th>
            <td mat-cell *matCellDef="let g" class="hideSmall"> {{g.date | date: 'mediumDate': '+0430'}} </td>
        </ng-container>

        <ng-container matColumnDef="season">
            <th mat-header-cell *matHeaderCellDef class="hideSmall"> Season </th>
            <td mat-cell *matCellDef="let g" class="hideSmall"> {{g.season}} </td>
        </ng-container>

        <ng-container matColumnDef="season_type">
            <th mat-header-cell *matHeaderCellDef class="hideSmall"> Season Type </th>
            <td mat-cell *matCellDef="let g" class="hideSmall"> {{g.season_type}} </td>
        </ng-container>

        <ng-container matColumnDef="game_page">
            <th mat-header-cell *matHeaderCellDef> Game Page </th>
            <td mat-cell *matCellDef="let g"> <a routerLink='/gameDetail/{{g.id}}'> <button mat-raised-button color="primary">Game
                        Page</button> </a></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedCols"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedCols;"></tr>

    </table>
    <mat-paginator [length]="dataSource.data.length" [pageSize]="20"></mat-paginator>
</div>