#root {
  margin: 10px;
}

.game {
  padding: 5px;
}

mat-card {
  width: 150px;
}

.mat-card-content-row {
  align-content: center;
  padding: 5px;
}

mat-card-content img {
  vertical-align: middle;
  height: 50px;
  width: 50px;
}

mat-card-content .game-score {
  font-weight: 900;
  font-size: 30px;
  vertical-align: middle;
  padding: 5px;
}

#clearFilterContainer {
  display: inline;
  padding: 10px;
}

table {
  width: 100%;
  max-width: 1032px;
  margin: 0 auto;
}

td {
  text-align: left;
}

.team-logo {
  height: 2rem;
  width: auto;
  padding-right: 1rem;
}

.gameScore {
  display: flex;
  align-items: center;
}

.winner {
  font-weight: bold;
}

mat-paginator {
  width: 100%;
  max-width: 1032px;
  margin: 0 auto;
}

.outer-wrapper {
  text-align: center;
}