<div class='outer-wrapper'>

  <h2>Players</h2>
  <mat-form-field>
    <mat-select placeholder="Season" [(ngModel)]="season">
      <mat-option>-- ALL --</mat-option>
      <mat-option *ngFor="let season of seasons" [value]="season">{{season}}-{{season+1}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Season Type" [(ngModel)]="seasonType">
      <mat-option>-- ALL --</mat-option>
      <mat-option *ngFor="let seasonType of seasonTypes" [value]="seasonType">{{seasonType}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Player </th>
      <td mat-cell *matCellDef="let p">
        <div class='playerRow'>
          <!-- <img class="player-pic" src="assets/img/{{p.id}}.png"> -->
          <span> {{p.name}}</span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="playerPage">
      <th mat-header-cell *matHeaderCellDef></th>
      <td class="playerPageButton" mat-cell *matCellDef="let p">
        <a routerLink='/playerDetail/{{p.name}}/{{season}}/{{seasonType}}'>
          <button mat-raised-button color="primary">Details</button>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedCols"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedCols;"></tr>

  </table>

</div>