.outer-wrapper {
    text-align: center;
}

table {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

td {
    text-align: left;
}

mat-paginator {
    width: 27.7%;
    max-width: 1032px;
    margin: 0 auto;
}