<div class='playerHeader'>
    <!-- <img class='playerImage' src='assets/img/{{player.name}}.png'> -->
    <!-- <div style='padding: 20px;'></div> -->
    <h1>{{playerName}}</h1><br/>
    <mat-form-field>
        <mat-select placeholder='Season' [(ngModel)]='season'>
            <mat-option>-- ALL --</mat-option>
            <mat-option *ngFor='let season of seasons' [value]='season'>{{season}}-{{season+1}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder='Season Type' [(ngModel)]='seasonType'>
            <mat-option>-- ALL --</mat-option>
            <mat-option *ngFor='let seasonType of seasonTypes' [value]='seasonType'>{{seasonType}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color='primary' (click)='routeToSelection()'>GO</button>
</div>

<div *ngIf='shots'>
    <binned-shot-chart #shotsComp [shots]='shots' [assists]='assists' [isTeam]='false'></binned-shot-chart>
</div>

<div *ngIf='playTypeData'>
    <play-types #playTypesComp [data]='playTypeData'></play-types>
</div>

<div *ngIf='statsData'>
    <stats-table #statsTableComp [stats]='statsData' tableType='player'></stats-table>
</div>