:host {
    text-align: left;
}

.statsTableContainer {
    padding-top: 10px;
}

.statsTableHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-logo {
    height: 60px;
    width: 60px;
}

table {
    width: 100%;
    margin-bottom: 1rem;
}

th.mat-sort-header-sorted {
    color: black;
}

tr.mat-footer-row {
    font-weight: bold;
}

.statsTable-columnControls, .statsTable-perModeControls {
    display: flex;
}

.statsTable-columnToggles, .statsTable-perModeControls{
    margin-bottom: 0.5rem;
    flex: 1;
}

.statsTable-columnToggles a, .statsTable-perModeControls a {
    margin-right: 0.25rem;
}