<div class='statsTableContainer'>

  <div class='statsTableHeader'>
    <img class='team-logo' src='assets/img/{{team}}.png'>
    <h2>Stats</h2>
  </div>

  <div class='statsTable-perModeControls'>
    <div *ngIf="tableType != 'game'">
      <a mat-raised-button class='btn-header' color='primary' (click)="updatePerMode('totals')">Total</a>
      <a mat-raised-button class='btn-header' color='primary' (click)="updatePerMode('games')">Per Game</a>
      <a mat-raised-button class='btn-header' color='primary' (click)="updatePerMode('minutes')">Per 36 minutes</a>
      <a mat-raised-button class='btn-header' color='primary' (click)="updatePerMode('possessions')">Per 100
        possessions</a>
    </div>
  </div>

  <div class='statsTable-columnControls'>
    <div class='statsTable-columnToggles'>
      <a mat-raised-button class='btn-header' color='primary' (click)="tableService.toggleColumns('scoring')">Scoring</a>
      <a mat-raised-button class='btn-header' color='primary' (click)="tableService.toggleColumns('passing')">Passing</a>
      <a mat-raised-button class='btn-header' color='primary' (click)="tableService.toggleColumns('rebounding')">Rebounding</a>
      <a mat-raised-button class='btn-header' color='primary' (click)="tableService.toggleColumns('defense')">Defense</a>
      <a mat-raised-button class='btn-header' color='primary' (click)="tableService.toggleColumns('plus_minus')">Point
        Diff</a>
      <a mat-raised-button class='btn-header' color='primary' (click)="tableService.toggleColumns('misc')">Misc</a>
    </div>
    <div>
      <a mat-raised-button class='btn-header' color='primary' (click)='resetCols()'>Reset</a>
    </div>
  </div>

  <table mat-table [dataSource]='dataSource' matSort [matSortActive]='initialSortCol' matSortDisableClear
    [matSortDirection]='initialSortDirection' matSortStart='desc' class='mat-elevation-z8'>

    <ng-container matColumnDef='player.name'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.player' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> Player </th>
      <td mat-cell *matCellDef='let x'> {{x.player.name}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef='player.team'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.team' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> Team </th>
      <td mat-cell *matCellDef='let x'> {{x.player.team}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef='season'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Season </th>
      <td mat-cell *matCellDef='let x'> {{x.season + ' ' + x.seasonType}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef='games'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Games </th>
      <td mat-cell *matCellDef='let x'> {{x.games_played}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef='time'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.minutes' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> Minutes </th>
      <td mat-cell *matCellDef='let x'> {{formatTime(x.time)}} </td>
      <td mat-footer-cell *matFooterCellDef> {{formatTime(getTotalStat('time'))}} </td>
    </ng-container>

    <ng-container matColumnDef='possessions'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.possessions'
        matTooltipPosition='above' matTooltipClass='stats-table-header-tooltip'> Possessions </th>
      <td mat-cell *matCellDef='let x'> {{x.possessions | number: '1.0-0'}} </td>
      <td mat-footer-cell *matFooterCellDef='let x'> {{getTotalStat('possessions') / 5 | number: '1.0-0'}} </td>
    </ng-container>

    <ng-container matColumnDef='scoring.pts'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.points' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> Points </th>
      <td mat-cell *matCellDef='let x'> {{x.scoring.pts | number: '1.0-1' }}</td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalStat('scoring.pts') | number: '1.0-1' }} </td>
    </ng-container>

    <ng-container matColumnDef='scoring.ts_pct'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.trueShooting'
        matTooltipPosition='above'> True Shooting </th>
      <td mat-cell *matCellDef='let x'> {{formatTrueShooting(x.scoring.pts, x.scoring.tsa)}} </td>
      <td mat-footer-cell *matFooterCellDef> {{formatTrueShooting(getTotalStat('scoring.pts'),
        getTotalStat('scoring.tsa'))}}</td>
    </ng-container>

    <ng-container matColumnDef='scoring.fg3m'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.fg3' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> 3PT </th>
      <td mat-cell *matCellDef='let x'> {{formatMakeAttempts(x.scoring.fg3m, x.scoring.fg3a)}} </td>
      <td mat-footer-cell *matFooterCellDef> {{formatMakeAttempts(getTotalStat('scoring.fg3m'),
        getTotalStat('scoring.fg3a'))}}
      </td>
    </ng-container>

    <ng-container matColumnDef='scoring.fg2m'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.fg2' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> 2PT </th>
      <td mat-cell *matCellDef='let x'> {{formatMakeAttempts(x.scoring.fg2m, x.scoring.fg2a)}} </td>
      <td mat-footer-cell *matFooterCellDef> {{formatMakeAttempts(getTotalStat('scoring.fg2m'),
        getTotalStat('scoring.fg2a'))}}
      </td>
    </ng-container>

    <ng-container matColumnDef='scoring.ftm'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.ft' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> FT </th>
      <td mat-cell *matCellDef='let x'> {{formatMakeAttempts(x.scoring.ftm, x.scoring.ft1a +
        x.scoring.ft2a + x.scoring.ft3a + x.scoring.tech_fta)}} </td>
      <td mat-footer-cell *matFooterCellDef> {{formatMakeAttempts(getTotalStat('scoring.ftm'),
        getTotalStat('scoring.ft1a')
        + getTotalStat('scoring.ft2a') + getTotalStat('scoring.ft3a') + getTotalStat('scoring.tech_fta'))}} </td>
    </ng-container>

    <ng-container matColumnDef='passing.ast'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.ast' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> Assists </th>
      <td mat-cell *matCellDef='let x'> {{x.passing.ast | number: '1.0-1' }} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalStat('passing.ast') | number: '1.0-1' }} </td>
    </ng-container>

    <ng-container matColumnDef='passing.potential_ast'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.potential_ast'
        matTooltipPosition='above' matTooltipClass='stats-table-header-tooltip'> Potential Assists </th>
      <td mat-cell *matCellDef='let x'> {{x.passing.potential_ast | number: '1.0-1'}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalStat('passing.potential_ast') | number: '1.0-1'}} </td>
    </ng-container>

    <ng-container matColumnDef='passing.ft_ast'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.ft_ast' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> Free Throw Assists </th>
      <td mat-cell *matCellDef='let x'> {{x.passing.ft_ast | number: '1.0-1' }} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalStat('passing.ft_ast') | number: '1.0-1' }} </td>
    </ng-container>

    <ng-container matColumnDef='passing.secondary_ast'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.secondary_ast'
        matTooltipPosition='above' matTooltipClass='stats-table-header-tooltip'> Secondary Assists </th>
      <td mat-cell *matCellDef='let x'> {{x.passing.secondary_ast | number: '1.0-1' }} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalStat('passing.secondary_ast') | number: '1.0-1'}} </td>
    </ng-container>

    <ng-container matColumnDef='passing.passes'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.passes' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> Passes </th>
      <td mat-cell *matCellDef='let x'> {{x.passing.passes | number: '1.0-1' }} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalStat('passing.passes') | number: '1.0-1'}} </td>
    </ng-container>

    <ng-container matColumnDef='rebounding.reb'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.reb' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> Rebounds </th>
      <td mat-cell *matCellDef='let x'> {{formatMakeAttempts(x.rebounding.reb,
        x.rebounding.reb_chances)}}
      </td>
      <td mat-footer-cell *matFooterCellDef> {{formatMakeAttempts(getTotalStat('rebounding.reb'),
        getTotalStat('rebounding.reb_chances'))}}
      </td>
    </ng-container>

    <ng-container matColumnDef='rebounding.oreb'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.oreb' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> Offensive Rebounds </th>
      <td mat-cell *matCellDef='let x'> {{formatMakeAttempts(x.rebounding.oreb,
        x.rebounding.oreb_chances)}}
      </td>
      <td mat-footer-cell *matFooterCellDef> {{formatMakeAttempts(getTotalStat('rebounding.oreb'),
        getTotalStat('rebounding.oreb_chances'))}}
      </td>
    </ng-container>

    <ng-container matColumnDef='rebounding.dreb'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.dreb' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> Defensive Rebounds </th>
      <td mat-cell *matCellDef='let x'> {{formatMakeAttempts(x.rebounding.dreb,
        x.rebounding.dreb_chances)}}
      </td>
      <td mat-footer-cell *matFooterCellDef> {{formatMakeAttempts(getTotalStat('rebounding.dreb'),
        getTotalStat('rebounding.dreb_chances'))}}
      </td>
    </ng-container>

    <ng-container matColumnDef='rebounding.box_outs'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.box_out' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> Box Outs </th>
      <td mat-cell *matCellDef='let x'> {{x.rebounding.box_outs | number: '1.0-1'}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalStat('rebounding.box_outs') | number: '1.0-1' }} </td>
    </ng-container>

    <ng-container matColumnDef='tov'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.tov' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> Turnovers </th>
      <td mat-cell *matCellDef='let x'> {{x.tov | number: '1.0-1'}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalStat('tov') | number: '1.0-1'}} </td>
    </ng-container>

    <ng-container matColumnDef='defense.stl'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.stl' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> Steals </th>
      <td mat-cell *matCellDef='let x'> {{x.defense.stl | number: '1.0-1'}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalStat('defense.stl') | number: '1.0-1' }} </td>
    </ng-container>

    <ng-container matColumnDef='defense.blk'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.blk' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> Blocks </th>
      <td mat-cell *matCellDef='let x'> {{x.defense.blk | number: '1.0-1'}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalStat('defense.blk') | number: '1.0-1' }} </td>
    </ng-container>

    <ng-container matColumnDef='defense.rim_protection'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.dfg' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> Shots Defended at the Rim </th>
      <td mat-cell *matCellDef='let x'> {{formatMakeAttempts(x.defense.rim_protection.dfgm,
        x.defense.rim_protection.dfga)}}
      </td>
      <td mat-footer-cell *matFooterCellDef> {{formatMakeAttempts(getTotalStat('defense.rim_protection.dfgm'),
        getTotalStat('defense.rim_protection.dfga'))}}
      </td>
    </ng-container>

    <ng-container matColumnDef='defense.charges_drawn'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.charge' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> Charges Drawn </th>
      <td mat-cell *matCellDef='let x'> {{x.defense.charges_drawn | number: '1.0-1' }} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalStat('defense.charges_drawn') | number: '1.0-1' }} </td>
    </ng-container>

    <ng-container matColumnDef='defense.deflections'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.deflection'
        matTooltipPosition='above' matTooltipClass='stats-table-header-tooltip'> Deflections </th>
      <td mat-cell *matCellDef='let x'> {{x.defense.deflections | number: '1.0-1' }} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalStat('defense.deflections') | number: '1.0-1' }} </td>
    </ng-container>

    <ng-container matColumnDef='defense.recoveries'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.recovery' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> Loose Ball Recoveries </th>
      <td mat-cell *matCellDef='let x'> {{x.defense.recoveries | number: '1.0-1' }} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalStat('defense.recoveries') | number: '1.0-1' }} </td>
    </ng-container>

    <ng-container matColumnDef='plus_minus.raw'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.plus_minus'
        matTooltipPosition='above' matTooltipClass='stats-table-header-tooltip'> +/- </th>
      <td mat-cell *matCellDef='let x'> {{x.plus_minus.raw | number: '1.0-1' }} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalStat('plus_minus.raw') / 5 | number: '1.0-1' }} </td>
    </ng-container>

    <ng-container matColumnDef='plus_minus.ortg'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.ortg' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> ORtg </th>
      <td mat-cell *matCellDef='let x'> {{x.plus_minus.ortg | number: '1.0-1' }} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalStat('team.pts') / getTotalStat('possessions') * 100
        | number: '1.0-1'}} </td>
    </ng-container>

    <ng-container matColumnDef='plus_minus.drtg'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.drtg' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> DRtg </th>
      <td mat-cell *matCellDef='let x'> {{x.plus_minus.drtg | number: '1.0-1' }} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalStat('team.opp_pts') / getTotalStat('possessions') * 100 |
        number:
        '1.0-1'}} </td>
    </ng-container>

    <ng-container matColumnDef='misc.screen_ast'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.screen_ast'
        matTooltipPosition='above' matTooltipClass='stats-table-header-tooltip'> Screen Assists </th>
      <td mat-cell *matCellDef='let x'> {{x.screen_ast | number: '1.0-1' }} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalStat('screen_ast') | number: '1.0-1' }} </td>
    </ng-container>

    <ng-container matColumnDef='misc.distance'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.distance' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> Distance (ft) </th>
      <td mat-cell *matCellDef='let x'> {{x.movement.distance | number: '1.0-1'}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getTotalStat('movement.distance') | number: '1.0-1'}} </td>
    </ng-container>

    <ng-container matColumnDef='misc.speed'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]='tooltipMessages.speed' matTooltipPosition='above'
        matTooltipClass='stats-table-header-tooltip'> Speed (mph) </th>
      <td mat-cell *matCellDef='let x'> {{x.movement.speed | number: '1.0-1'}} </td>
      <td mat-footer-cell *matFooterCellDef> {{(getTotalStat('movement.distance') / 5280) / (getTotalStat('time') /
        3600) | number: '1.0-1'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef='displayedCols'></tr>
    <tr mat-row *matRowDef='let row; columns: displayedCols;'></tr>
    <tr mat-footer-row *matFooterRowDef='displayedCols'></tr>
  </table>

</div>
