<header id="header" class="header">
    <div class="header-title">
        NBAVIZ
    </div>
    <div class="header-navigation" fxLayout="row wrap">
            <a mat-raised-button class="btn-header" color="primary" [routerLink]="['/games']">Games</a>
            <a mat-raised-button class="btn-header" color="primary" [routerLink]="['/teams']">Teams</a>
            <a mat-raised-button class="btn-header" color="primary" [routerLink]="['/players']">Players</a>
            <a mat-raised-button class="btn-header" color="primary" (click)="scrollToFooter()">About</a>
    </div>
</header>
