<div class='outer-wrapper'>
  <h2>Teams</h2>
  <mat-form-field>
    <mat-select placeholder="Season" [(ngModel)]="season">
      <mat-option>-- ALL --</mat-option>
      <mat-option *ngFor="let season of seasons" [value]="season">{{season}}-{{season+1}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Season Type" [(ngModel)]="seasonType">
      <mat-option>-- ALL --</mat-option>
      <mat-option *ngFor="let seasonType of seasonTypes" [value]="seasonType">{{seasonType}}</mat-option>
    </mat-select>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Team </th>
      <td mat-cell *matCellDef="let t">
        <div class='teamRow'>
          <img class="team-logo" src="assets/img/{{t.name}}.png">
          <span> {{t.name}}</span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="teamPage">
      <th mat-header-cell *matHeaderCellDef></th>
      <td class="teamPageButton" mat-cell *matCellDef="let t">
        <a routerLink='/teamDetail/{{t.name}}/{{season}}/{{seasonType}}'>
          <button mat-raised-button color="primary">Details</button>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedCols"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedCols;"></tr>

  </table>

</div>