.outer-wrapper {
    text-align: center;
}

table {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
  
td {
    text-align: left;
}
  
.team-logo {
    height: 2rem;
    width: auto;
    padding-right: 1rem;
}

.teamRow {
    display: flex;
    align-items: center;
}

.teamPageButton {
    text-align: right;
}