<div id="rotation-chart-container">
  
</div>

<div id="player-order-container" class="hideSmall">
  <div id="player-order-panel" fxLayout="row wrap" fxLayoutAlign="center">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Customize {{game.summary.home.team}} Player Order</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item *ngFor="let p of homePlayers">
            <span class="playerOrderText">{{p}}</span>
            <div class="playerOrderButtons">
              <button mat-icon-button (click)="movePlayer(p, true)">
                <mat-icon svgIcon="arrow.up"></mat-icon>
              </button>
              <button mat-icon-button (click)="movePlayer(p, false)">
                <mat-icon svgIcon="arrow.down"></mat-icon>
              </button>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Customize {{game.summary.away.team}} Player Order
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item *ngFor="let p of awayPlayers">
            <span class="playerOrderText">{{p}}</span>
            <div class="playerOrderButtons">
              <button mat-icon-button (click)="movePlayer(p, true)">
                <mat-icon svgIcon="arrow.up"></mat-icon>
              </button>
              <button mat-icon-button (click)="movePlayer(p, false)">
                <mat-icon svgIcon="arrow.down"></mat-icon>
              </button>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
    <button mat-raised-button color="primary" (click)="reorderPlayers()" id="updatePlayerOrderButton">UPDATE</button>
  </div>
</div>