:host {
  text-align: center;
}

.team-logo {
  height: 7%;
  width: 7%;
}

.score-board-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-score {
  font-size: 5vw;
}

#scoreboard-seperator {
  padding: 0 2vw;
}

.section-header {
  text-align: center;
}
