<button mat-raised-button color='primary' [routerLink]="['/games']">BACK</button>

<div *ngIf='game'>

    <div class='score-board-row'>
        <img class='team-logo' src='assets/img/{{game.summary.home.team}}.png' [routerLink]="['/teamDetail',game.summary.home.team, game.summary.season, game.summary.season_type]">
        <span class='team-score'>{{game.summary.home.score}}</span>
        <div id='scoreboard-seperator'></div>
        <img class='team-logo' src="assets/img/{{game.summary.away.team}}.png" [routerLink]="['/teamDetail',game.summary.away.team, game.summary.season, game.summary.season_type]">
        <span class='team-score'>{{game.summary.away.score}}</span>
    </div>
    <br />

    <game-rotations-viz [game]='game'></game-rotations-viz>

    <possession-breakdown [summary]='game.summary' [stats]='game.stats'></possession-breakdown>

    <h2 class='section-header'>Shots</h2>
    <div id='shotChartsContainer' fxLayout="row wrap" fxLayoutAlign="center">
        <scatter-shot-chart [shots]='game.shots' [team]='game.summary.home.team'></scatter-shot-chart>
        <scatter-shot-chart [shots]='game.shots' [team]='game.summary.away.team'></scatter-shot-chart>
    </div>

    <stats-table [team]='game.summary.home.team' [stats]='game.stats' [tableType]="'game'"></stats-table>
    <stats-table [team]='game.summary.away.team' [stats]='game.stats' [tableType]="'game'"></stats-table>

</div>