<div id="{{team}}-shot-chart-container" class='shotChartContainer'>
  <div class='shotChartControls'>
    <img class='team-logo' src='assets/img/{{team}}.png'>
    <mat-form-field>
      <mat-select [(ngModel)]="playerSelect" (selectionChange)="playerChange()">
        <mat-option [value]="team">{{team}}</mat-option>
        <mat-option *ngFor="let player of players" [value]="player">{{player}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>
</div>
