.footer {
    display: flex;
    align-items: center;
    color: dodgerblue;
    background-color: darkslategrey;
    padding: 0 20px;
}

.footer-text {
    flex: 1;
    font-size: 1rem;
    margin: 1rem 0;
    text-decoration: none;
    color: dodgerblue;
}

.footer-entries {
    flex: 1;
}

.footer-entry {
    display: flex;
    align-items: center;
    padding: 0 20px;
}
