.rotationsSelect {
  width: 30%;
}

#rotationChartContainer {
  text-align: center;
}

#playerOrderPanel {
  display: inline-flex;
  flex: 1;
}

#playerOrderContainer {
  margin: auto;
}

.playerOrderText {
  flex: 1;
}

#updatePlayerOrderButton {
max-height: 48px;
}