<h2>Shots</h2>
<div class="controls">
  <!-- <mat-checkbox class="control" [(ngModel)]="zoneAdjust" (change)="adjustGridSizes()" [matTooltip]="zoneAdjustTipMessage">Zone Adjust Volume</mat-checkbox> -->
  <mat-form-field class="control effSelect">
    <mat-select [disabled]='!isBinned' placeholder="Efficiency Measure" [(ngModel)]="effMeasure" (selectionChange)="updateChart()">
      <mat-option value="fg">FG%</mat-option>
      <mat-option value="efg">EFG%</mat-option>
      <mat-option value="rel_fg">ZONE FG% vs LEAGUE AVERAGE</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox *ngIf='isTeam' class="control" [(ngModel)]="showOppShots" (change)="updateChart()">Opponent Shots</mat-checkbox>
  <mat-checkbox class="control" [(ngModel)]="isBinned" (change)="updateChart()">Bin Shots</mat-checkbox>
  <mat-checkbox *ngIf='!isBinned && !isTeam' class="control" [(ngModel)]="isAssists" (change)="updateChart()">Show Assists</mat-checkbox>
</div>
<div id="shot-chart-container">
</div>
