<div class='teamHeader'>
    <img class='teamLogo' src='assets/img/{{team}}.png'>
    <div style='padding: 20px;'></div>
    <mat-form-field>
        <mat-select placeholder='Season' [(ngModel)]='season'>
            <mat-option>-- ALL --</mat-option>
            <mat-option *ngFor='let season of seasons' [value]='season'>{{season}}-{{season+1}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder='Season Type' [(ngModel)]='seasonType'>
            <mat-option>-- ALL --</mat-option>
            <mat-option *ngFor='let seasonType of seasonTypes' [value]='seasonType'>{{seasonType}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color='primary' (click)='routeToSelection()'>GO</button>
</div>

<div *ngIf='teamDetails'>

    <div *ngIf='teamDetails.rotations'>
        <div *ngIf='teamDetails.rotations.length > 0'>
            <season-rotations-viz #rotations [data]='teamDetails.rotations'></season-rotations-viz>
        </div>
    </div>

    <div *ngIf='teamDetails.shots'>
        <div *ngIf='teamDetails.shots.length > 0'>
            <binned-shot-chart #shots [shots]='teamDetails.shots' [opponentShots]='teamDetails.oppShots' [isTeam]='true'></binned-shot-chart>
        </div>
    </div>

    <div *ngIf='teamDetails.playType'>
        <div *ngIf='teamDetails.playType.length > 0 && teamDetails.rotations.length > 0'>
            <play-types #playTypes [data]='teamDetails.playType'></play-types>
        </div>
        <div *ngIf='teamDetails.playType.length == 0'>
            <span class='noDataMessage'> Play Type data not available </span>
        </div>
    </div>

    <div *ngIf='teamDetails.stats'>
        <div *ngIf='teamDetails.stats.length > 0'>
            <stats-table #stats [team]='team' [stats]='teamDetails.stats' tableType='team'></stats-table>
        </div>
    </div>

    <div *ngIf='!teamDetails.rotations.length > 0'>
        <span class='noDataMessage'> There is no data for this team during the selected season and type</span>
    </div>
</div>