:host {
    text-align: center;
}

.teamLogo {
    height: 7%;
    width: 7%;
}

.teamHeader {
    align-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    justify-content: center;
}