@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body,
#root {
  margin: 0;
  font-family: "SFMono-Regular", monospace !important;
  background-color: lightgray;
}

@media (max-width: 800px) {
  .hideSmall {
    display: none;
  }
}

.main-content {
  padding: 20px 20px;
}

svg text {
  font-family: "SFMono-Regular", monospace !important;
}

body [class^='mat-'],
body [class*=' mat-'] {
  font-family: "SFMono-Regular", monospace !important;
}

.three-point-area circle,
.three-point-area line,
.foul-circle circle,
.rim circle,
.restricted-area circle,
.inner-court-paint line,
.backboard line,
.court-baseline line,
.court-paint rect {
  stroke: black !important;
  fill: none;
  width: 1;
}

.domain {
  opacity: 0;
}

.playTypeText {
  font-size: 12px !important;
}

.mat-tooltip {
  white-space: pre-line !important;
  font-size: 0.75rem;
}
