<h2>Play Type</h2>
<div class="play-types-container" fxLayout="row wrap" fxLayoutAlign="center center">
  <div *ngFor="let pt of playTypes">
    <play-type [playType]="pt" [data]="data" #playType></play-type>
  </div>
</div>